<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="./js/app.js"> </script>

</head>

<body>
    <header>
        <h2>{{title}} !!</h2>
    </header>
    <main>
        <div>
            I am a full stack developer with hand on experience in building scalable enterprise application using React,
            Angular as Front-end framework and SpringBoot, ExpressJS as backend framework.
            I am passionate about extracting valuable insights from data, so I love working with database.
            I advocate and follow Test Driven Development (TDD) approach for developing robust production ready
            applications.
            I have used Jest for front-end component testing, JUnit, mocking framework like Mockito for backend testing.
            I belive next generation applications, regardless of size of the application, should implement
            micro-frontend and microservice architecture in order to scale.
            Beside technology, I like EDM and currently I am learning to DJ and bartend during my free time.
            I am also active on financial market, trading options, stocks and cryptocurrencies.
        </div>
    </main>
    <br>
    <footer> Created by -- {{creater}} </footer>
</body>

</html>